WebService_OracleDAL_JsonHelper/helloworld_client/Web References/webservice_helloworld/show_helloworld.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSwlbjk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zzjgdm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSwlbjkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSwlbjkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestData">
        <s:complexType />
      </s:element>
      <s:element name="TestDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getSwlbjkSoapIn">
    <wsdl:part name="parameters" element="tns:getSwlbjk" />
  </wsdl:message>
  <wsdl:message name="getSwlbjkSoapOut">
    <wsdl:part name="parameters" element="tns:getSwlbjkResponse" />
  </wsdl:message>
  <wsdl:message name="TestDataSoapIn">
    <wsdl:part name="parameters" element="tns:TestData" />
  </wsdl:message>
  <wsdl:message name="TestDataSoapOut">
    <wsdl:part name="parameters" element="tns:TestDataResponse" />
  </wsdl:message>
  <wsdl:portType name="show_helloworldSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSwlbjk">
      <wsdl:input message="tns:getSwlbjkSoapIn" />
      <wsdl:output message="tns:getSwlbjkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestData">
      <wsdl:input message="tns:TestDataSoapIn" />
      <wsdl:output message="tns:TestDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="show_helloworldSoap" type="tns:show_helloworldSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSwlbjk">
      <soap:operation soapAction="http://tempuri.org/getSwlbjk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestData">
      <soap:operation soapAction="http://tempuri.org/TestData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="show_helloworldSoap12" type="tns:show_helloworldSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSwlbjk">
      <soap12:operation soapAction="http://tempuri.org/getSwlbjk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestData">
      <soap12:operation soapAction="http://tempuri.org/TestData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="show_helloworld">
    <wsdl:port name="show_helloworldSoap" binding="tns:show_helloworldSoap">
      <soap:address location="http://localhost:1473/show_helloworld.asmx" />
    </wsdl:port>
    <wsdl:port name="show_helloworldSoap12" binding="tns:show_helloworldSoap12">
      <soap12:address location="http://localhost:1473/show_helloworld.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>